.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  padding-top: 40px;
}

.card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(91, 5, 5, 0.1) !important;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(67, 3, 3, 0.1) !important;
}

.card-header {
  background-color: #7d97b1 !important;
  padding: 16px;
  border-bottom: 1px solid #141719 !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.card-text-win {
  margin-bottom: 4px;
}

.card-text-tie {
  margin-bottom: 4px;
}

.card-text-loose {
  margin-bottom: 4px;
}

.text-center {
  text-align: center;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

